<div class="top">
    <div class="title">
        <%= link_to("/") do %>
        Week<strong>films</strong>
        <% end %>
    </div>
    <div class="search">
    <%= search_form_for @movie_search, url: "/search", :html => {:class => 'search-area'} do |f| %>
    <%= f.search_field :title_cont_any, :placeholder => "作品名"%>
    <%= f.submit '検索' %> <!-- i class="fas fa-search"></i -->
    <% end %>
    </div>
    <div class="login-user">
        <% if current_user.present? %>
            <div class="user-image">
            <%= link_to("/pages/show") do %>
                <% if current_user.user_image? %>
                    <img src="/user_image/<%= @current_user.image_name %>"> 
                <% else %>
                    <img src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
                <% end %>
            </div>
            <div class="user-name">
            <%
=begin%>
 <%= @current_user.username %> 
<%
=end%>
            <% end %>
            </div>
        <% end %>
    </div>
</div>