<div class="top">
    <div class="title">
        <%= link_to("/") do %>
        Week<strong>end</strong>
        <% end %>
    </div>
    <div class="search">
    <%= search_form_for @movie_search, url: "/search", :html => {:class => 'search-area'} do |f| %>
    <%= f.search_field :title_cont_any, :placeholder => "作品名"%>
    <%= f.submit '検索' %> <!-- i class="fas fa-search"></i -->
    <% end %>
    </div>
    <div class="login-user">
        <% if @current_user %>
        <div class="user-image">
        <img src="/user_image/<%= @current_user.image_name %>">
        </div>
        <div class="user-name">
        <%= link_to(@current_user.name, "/user/index")%>
        </div>
        <% end %>
    </div>
</div>